<div class="notificaciones-container">
  <h2>Notificaciones</h2>
  <div *ngIf="notificaciones.length > 0; else noNotificaciones">
    <div 
      *ngFor="let notificacion of notificaciones" 
      class="notificacion-item"
      [class.no-vista]="!notificacion.visto"
    >
      <div class="icono-notificacion">
        <span class="material-icons"> notifications_active </span>
      </div>
      <div class="contenido-notificacion">
        <p>
          A {{ notificacion.nombreUsuarioAccion }} le gustó tu publicación.
        </p>
        <small>{{ notificacion.fecha.toDate() | date: 'short' }}</small>
      </div>
      <button *ngIf="!notificacion.visto" (click)="marcarComoVista(notificacion.id)">
        Marcar como vista
      </button>
    </div>
  </div>
  <ng-template #noNotificaciones>
    <p>No tienes notificaciones.</p>
  </ng-template>
</div>
