<div class="contenedor-principal">
  <!-- Menú lateral -->
  <div class="menu-lateral">
    <div class="logo">ArguSocial</div>
    <ul class="menu-opciones">
      <li routerLink="/feed/inicio" routerLinkActive="active">
        <i class="fas fa-home"></i>
        <span>Inicio</span>
      </li>
      <li routerLink="/feed/perfil" routerLinkActive="active">
        <i class="fas fa-user-circle"></i>
        <span>Perfil</span>
      </li>
      <li routerLink="/feed/notificaciones" routerLinkActive="active">
        <i class="fas fa-bell"></i>
        <span>Notificaciones</span>
      </li>
      <li routerLink="/feed/grupos" routerLinkActive="active">
        <i class="fas fa-users"></i>
        <span>Grupos de Estudio</span>
      </li>
    </ul>
    <div class="foto-usuario">
      <img [src]="usuario.fotoPerfil" alt="Foto de perfil" />
      <div class="usuario-info">
        <p class="nombre-usuario">{{ usuario.nombre }}</p>
        <p class="handle">&#64;{{ usuario.handle }}</p>
        <!-- Botón para abrir la ventana -->
        <div class="opciones-usuario">
          <button class="btn-opciones" (click)="toggleMenu()">...</button>
          <div class="menu-opciones-usuario" *ngIf="menuVisible">
            <ul>
              <li>Agregar una cuenta existente</li>
              <li>Cerrar la sesión de <span>{{ usuario.handle }}</span></li>
            </ul>
          </div>
        </div>        
      </div>
    </div>
  </div>
  <!-- Contenido dinámico -->
  <div class="contenido">
    <router-outlet></router-outlet>
  </div>
</div>
